<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h4>Quick Search</h4>
    </div>
    <div class="col-sm-8">
      <h4>Search Result</h4>
      <div class="row">
        <div *ngFor="let p of hostels; let i = index">
          <div class="col" style="padding-bottom:10px;">
            <div class="card">
              <img
                class="card-img-top"
                [src]="imageUrl + p.coverphoto"
                alt="Card image"
              />
              <div class="card-body">
                <h4 class="card-title">{{p.name}}</h4>
                <div *ngFor="let sub of subproperties" class="card-text">
                  <div *ngIf="p.id === +sub.propertyid">
                    <app-subproperties
                      [_subproperty]="sub"
                      (eventClick)="handleEventClick($event)"
                    ></app-subproperties>
                  </div>
                </div>
                <h5 class="card-content text-center">
                  &#8358;{{ p.price | number }}
                </h5>
                <a [routerLink]="['/p',p.type, p.viewid]"
                class="btn btn-default-NG btn-block">View Property</a>
              </div>
            </div>
            <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
