
    <fa-icon icon="heart" style="font-size: 24px;"></fa-icon> {{favtotal}}
      <!--check for favourites/likes and change button-->
      <br />
      <!-- <span *ngIf="authservice.isLoggedIn()">
         <span  *ngFor="let l of like ">
               <button *ngIf="l.like == 1"
                 class="btn-NG btn-outline-danger">
                 <span style="color: Tomato;"
                 *ngIf="!displayicon" (click)="addlike()">Like
                     <fa-icon icon="heart"></fa-icon>{{favourites}}</span>
                 <span style="color:#36465d;"
                 *ngIf="displayicon" (click)="unlike()">Unlike
                     <fa-icon icon="heart"></fa-icon>{{favourites}}</span>
               </button>

             <button *ngIf="l.like == 0"
             class="btn-NG btn-outline-danger">
             <span style="color: Tomato;"
             *ngIf="displayicon" (click)="addlike()">Like
                 <fa-icon icon="heart"></fa-icon>{{favourites}}</span>
             <span style="color:#36465d;"
             *ngIf="!displayicon" (click)="unlike()">Unlike
                 <fa-icon icon="heart"></fa-icon>{{favourites}}</span>
           </button>
         </span> -->
 <!--
            <button *ngIf="like == null"
              class="btn-NG  btn-outline-danger">
              <span *ngIf="displayicon" (click)="addlike()">Like
                <fa-icon icon="heart"></fa-icon>
               </span>
              <span *ngIf="!displayicon" (click)="unlike()">
                unLike
                <fa-icon icon="heart"></fa-icon>
              </span>
            </button>
         </span> -->
