/* css variables */
:root {
  --rent-border-color: #2F3E48;
  --rent-background-color: #36465d;
}
.card {
  width:16rem
}

.btn-default-NG{
  background-color: var(--rent-background-color);
  color:#ffffff;
  border-color: var(--rent-border-color);
}
.btn-default-NG:visited{
  background-color: var(--rent-background-color);
  color:#ffffff;
  border-color: var(--rent-border-color);
}
.btn-default-NG:hover{
  background-color: var(--rent-background-color);
  color: #cff2b8;
  border-color: var(--rent-border-color);
}
[class="col-sm-8"] {
  background-color:#ecf0f1;
  margin: 20px 0 0 0;
  padding-top:10px;
  padding-bottom:70px
  }
 [class="col-sm-3"] {
  margin: 20px 10px 0 10px;
  padding-top:10px;
  padding-bottom:70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 500px;
  }

