<ul class="list-group list-group-flush" *ngFor="let sub of subpropertieslist">
<li class="list-group-item" [class.disabled]="sub.available === '1'">
    <div class="row">
        <div class="col-sm-2">
            <img class="rounded-circle"
            [src]="subUrl+sub.coverphoto"
            alt="subproperty cover photo"
            >

        </div>
        <div class="col book-content" >
        <b>{{sub.name}} </b><br />
        {{sub.room}} Room(s) <br />
        {{sub.toilet}} Toilet(s) <br />
        {{sub.bathroom}} Bathroom(s)

        <b *ngIf="sub.available === '0'"> - Occupied</b><br />
        <a *ngIf="sub.available === '1'" [routerLink]="['/book', pId, sub.id]"
class="btn-NG btn-default-NG btn-sm">Book </a>
        </div>
    </div>

</li>
</ul>
