<div class="container-fluid">
<div class="row">
    <div class="col-sm-1" left-unused-margin></div>
    <div class="col-sm-10">
        <div class="alert alert-success" >
            <strong>Success!</strong> {{remainDate}}
          </div>
        <div class="row text-center">
            <div class="col"  my-profile>
              My Profile
            </div>
            <div class="col"  my-landlord>
                <!-- user-tie user-friends -->
              My Landlord
            </div>
            <div class="col"  my-favourite>
              My Favourite
            </div>
          </div>


              <div class="col-sm-12">
                <h4>My Profile</h4>

              </div>
    </div>
    <div class="col-sm-1" right-unused-margin></div>
  </div>


</div>
