[class="alert alert-success"] {
  background-color:#ecf0f1;
  color:#172A3A;
  border:0;
}
[class="col-sm-12"] {
  background-color:#ecf0f1;
  margin: 20px 0 0 0;
  padding-top:10px;
  padding-bottom:70px
}
/* style each column using data-atrribute */
.col[my-profile] {
margin-left:15px;
margin-right:30px;
}
.col[my-landlord] {
  margin-right:30px;
}
.col[my-favourite] {
  margin-right:15px;
}
.col {
background-color:#ecf0f1;
color:#172A3A;
font-weight:bold;
padding-top:20px;
}
.col:hover {
background-color: #172A3A;
color: #FFFFFF;
font-weight: bold;
}

[size="lg"] {
  font-size: 40px;
  color: white;
  stroke: #172A3A;
}
