<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            My Favourite
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            My Bank
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            My Profile
        </a>
      </div>
  </div>
  <main class="col-sm-8" >

      <h3>Dashboard</h3>
      <form role="form" class="form-group" method="POST" action="" >
          <div class="input-group">
            <input type="text" name="message" autocomplete="off" chat-box class="form-control" placeholder="Type...">
            <div class="input-group-prepend">
              <button type="submit" class="input-group-text">Seach</button>
            </div>
          </div>
        </form>
        <content class="card">
            <div class="card-body text-center">
              <a href="">
                 <span plus-sign>+</span>
             </a>
            </div>

        </content>
  </main>
</div>

